/* font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
*/
#container {
    margin: 0 auto;
    width: 100%;
    
}
.header_container {
    display: flex;
    justify-content: center;
}
h1 {
    font: 100px 'Raleway', sans-serif;
    margin-top: 0;
    margin-left: 30%;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0px;
}
.info h2 {
    font: 40px 'Quicksand', sans-serif;

}
.info p {
    font: 20px 'Quicksand', sans-serif;
    width: 350px;
    margin-left: 40px;
   
}
.ama_words {
    font: 20px 'Quicksand', sans-serif;
    margin-right: 55%;
    margin-left:60px;

}

.header_container img {
    margin-right: 40px;
  
   
}


#about  {
    text-align: center;
    font: 20px 'Quicksand', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

#ama form  {
    /* margin-top: 20px;
    margin-left: 20%; */
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

#ama form textarea {
    margin-right: 10px ;
}




/*tablet*/
    @media screen and (min-width: 650px) {
        header {
            flex-direction: row;
            justify-content: space-between;
        }
        #open-menu {
            display: none;
        }
        #brand {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        #site-nav {
            display: flex;
        }
    }
    /*desktop*/
    @media screen and (min-width: 1100px) {}


    
    /* input.send_button {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: #5dc0ee;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
    input.send_button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #5dc0ee;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
    input.send_button:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
        color: rgb(237, 19, 200);
      }
    input.send_button:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
      } */

      /* Float Shadow
 .send_button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .send_button:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    /* -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .send_button:hover, .send_button:focus, .send_button:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  /* }
  .send_button:hover:before, .send_button:focus:before, .send_button:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  /* } */  
    

/* Bubble Float Left */
/* input {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  input:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: calc(50% - 10px);
    left: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e1e1e1 transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
    input:hover, 
    input:focus, 
    input:active {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  input:hover:before, 
  input:focus:before, 
  input:active:before {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  } */